.how-it-works {
    width: 100%;
    background-color: white;

    .content {
        max-width: 1080px;

        .description {
            display: flex;
            margin-bottom: 60px;

            .user-logo {
                margin-right: 30px;
                align-self: flex-start;
            }

            &.liza {
                .message {
                    background-color: #dfefcc;
                }
            }

            .liza.message {
                background-color: #dfefcc;
            }

            &.sebastian {
                justify-content: flex-end;
                .message {
                    background-color: #ece1ec;
                }
            }

            .sebastian.message {
                background-color: #ece1ec;
            }

            &.magic {
                justify-content: center;
            }

            &.together {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .messages {
                    flex-basis: 0;
                    margin-bottom: 26px;
                }

                .message {
                    background-color: rgba(228, 90, 75, 0.15);
                }

                .user-logos {

                }
            }

            &.result {
                .messages {
                    flex: 1;
                    display: flex;
                    align-items: flex-start;

                    .message {
                        flex: 1;
                        margin-right: 80px;
                        width: inherit;

                        &:nth-last-child(1) {
                            margin-right: 0;
                        }
                    }
                }
            }

            .messages {
                flex-basis: 600px;
            }

            .message {
                display: inline-block;
                max-width: 600px;

                border-radius: 100px;
                padding: 27px 50px;

                color: #4a4a4a;

                font-size: 20px;
                font-weight: 400;
                letter-spacing: 0.55px;
                line-height: 24px;
                margin-bottom: 40px;

                &:nth-last-child(1) {
                    margin-bottom: 0;
                }
            }
        }
        .liza-description {
            display: flex;

            .user-logo {
                margin-right: 30px;
            }
            .message {
                display: inline-block;
                width: 600px;
                background-color: #dfefcc;
                border-radius: 100px;
                padding: 27px 50px;



                color: #4a4a4a;

                font-size: 20px;
                font-weight: 400;
                letter-spacing: 0.55px;
                line-height: 24px;
            }
        }
    }
}