@import 'client/assets/styles/core/variables';

.join-now {
    width: 100%;

    background-color: #e45a4c;

    .content {
        width: $aboutContentWidth;
        padding: 69px;
        text-align: center;
    }

}