.edit-profile {
    margin: 60px 10% 0 30%;
    width: 600px;

    h2 {
        font-size: 36px;
        font-weight: 900;
        letter-spacing: 1.08px;
        line-height: 44px;
    }

    .wrap {
        display: flex;
        align-items: flex-start;

        .avatar {
            margin-right: 90px;
        }

        .form {
            width: 330px;


            .choose-team {

                .title {
                    color: #e45a4c;
                    font-size: 22px;
                    font-weight: 700;
                    letter-spacing: 0.72px;
                    line-height: 29px;
                }


                .team-picker {
                    display: flex;

                    justify-content: space-between;


                    .team-title {
                        text-align: center;

                        color: #4a4a4a;
                        font-size: 16px;
                        font-weight: 700;
                        letter-spacing: 0.54px;
                        line-height: 22px;
                    }
                }
            }
        }
    }

}