.about {
    .content {
        padding-top: 60px;
        margin: auto;

        h2 {
            text-align: center;
            color: #4a4a4a;
            font-size: 36px;
            font-weight: 900;
            letter-spacing: 1.08px;
            line-height: 44px;
            margin-top: 0;
        }
    }
}