.create-offer {
    .content {
        padding: 85px 110px;

        h1 {
            color: #4a4a4a;
            font-size: 36px;
            font-weight: 900;
            letter-spacing: 1.08px;
            line-height: 44px;
        }

        h3 {
            color: #4a4a4a;
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 0.72px;
            line-height: 29px;
        }

    }
}