.time-table {
    .available-slot {
        background-color: #E8F5E9 !important;
    }

    .booked-slot {
        background-color: #C5CAE9 !important;
    }

    th span{
        font-size: 14px;
        color: #000;
    }
}